.custom-image-container {
  position: relative;
  display: inline-block;
}

.custom-image-alt {
  display: none;
  position: absolute;
  bottom: 0;
  color: white;
  text-align: center;
  padding: 10px;
}

.custom-image-container:hover .custom-image-alt {
  display: block;
}
